{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_rezzumin/manage


    Example context (json):
    {

    }
}}
<h1>Rezzumin Activity:</h1>
<p>{{display_msg}}</p>
<hr>
<h3>Texts</h3>
{{#texts}}
    <p>{{index}} - <a href="{{app_url}}/summary.php?id={{id}}&summary={{sid}}">{{title}}</a> - {{#userdate}}{{timestamp}}, {{#str}}
        strftimedate, core_langconfig {{/str}}{{/userdate}} | {{status}} |
        <a href="{{app_url}}/process_text.php?id={{sid}}">trigger</a></p>
{{/texts}}
<hr>
<input type="button" class="btn btn-primary" value="Insert Activity Text" onclick="location.href='{{new_text_url}}'">